name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    uses: Omer-hadad-s-Projects/workflows/.github/workflows/docker-image-builder.yaml@master
    with:
      image_name: thetemani/discord-bot
      default_branch: main
      changelog_path: CHANGELOG.md             
      docker_context: .                       
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN:   ${{ secrets.DOCKERHUB_TOKEN }}
